---
interface Props {
  q1: string;
  a1: string;
  q2: string;
  a2: string;
  q3: string;
  a3: string;
  q4: string;
  a4: string;
  q5: string;
  a5: string;
  q6: string;
  a6: string;
  heading: string;
}

const { q1, a1, q2, a2, q3, a3, q4, a4, q5, a5, q6, a6, heading } = Astro.props;
---

<!-- FAQ -->
<div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-20">
  <!-- Title -->
  <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
    <h2 class="text-3xl font-bold text-(--color-ink-black-800) lg:text-4xl dark:text-white">Frequently Asked Questions</h2>
    <p class="mt-3 dark:text-neutral-300">
Beberapa pertanyaan yang biasa ditanyakan tentang layanan jasa {heading}
</p>
  </div>
  <!-- End Title -->

  <div class="mx-auto max-w-5xl">
    <!-- Grid -->
    <div class="grid gap-6 sm:grid-cols-2 md:gap-12">
      <div>
        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
          {q1}
        </h3>
        <p class="mt-2 text-gray-600 dark:text-neutral-400">
          {a1}
        </p>
      </div>
      <!-- End Col -->

      <div>
        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
          {q2}
        </h3>
        <p class="mt-2 text-gray-600 dark:text-neutral-400">
          {a2}
        </p>
      </div>
      <!-- End Col -->

      <div>
        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
          {q3}
        </h3>
        <p class="mt-2 text-gray-600 dark:text-neutral-400">
          {a3}
        </p>
      </div>
      <!-- End Col -->

      <div>
        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
          {q4}
        </h3>
        <p class="mt-2 text-gray-600 dark:text-neutral-400">
          {a4}
        </p>
      </div>
      <!-- End Col -->

      <div>
        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
          {q5}
        </h3>
        <p class="mt-2 text-gray-600 dark:text-neutral-400">
          {a5}
        </p>
      </div>
      <!-- End Col -->

      <div>
        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
          {q6}
        </h3>
        <p class="mt-2 text-gray-600 dark:text-neutral-400">
          {a6}
        </p>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
</div>
<!-- End FAQ -->
